<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset=utf-8 />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/sunburst.css" />
  </head>

  <body>
    <p><em>‘Iacta alea est’</em></p>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
    {{ content }}

    <aside style="margin-top: 3em; border-top: 1px solid #ccc;">
      <p><em>Get new posts delivered to your inbox:</em></p>
      <script async data-uid="541c21b61d" src="https://artisanal-maker-739.ck.page/541c21b61d/index.js"></script>
    </aside>
    {% include ga.html %}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
